$roxo-claro: #C6B4CE;
$roxo-meio-escuro: #5f5e92;;
$roxo-escuro: #363062;

$bege-claro: #FAEED1;
$bege-decoration: #E3D5B5;

$black: #1B1A1A;
$azul-escuro: #1B2430;

$white-normal: #fff;

$font-inter: 'Inter', sans-serif;
$font-roboto:  'Roboto', sans-serif;
